<p style="color: green"><%= notice %></p>

<h1>Venda produtos</h1>
<div id="container-fluid">
  <div id="barcode-scanner"></div>
  <div>
    <table class="table" id="resultado">
      <thead>
      <tr>
        <th>Codigo</th>
        <th>Nome</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>