<p style="color: green"><%= notice %></p>

<h1>Venda produtos</h1>
<div id="container-fluid">
  <div class="d-flex flex-row justify-content-center mt-auto" id="barcode-scanner"></div>
  <div>
    <table class="table" id="resultado">
      <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Preço</th>
        <th></th>
      </tr>
      </thead>

      <tbody id="tabela">
      <tr>
        <td></td>
        <td id="nome"></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex flex-row justify-content-end mt-auto">
  <%= button_tag 'Enviar venda', class: 'btn btn-primary', id: 'enviar' %>
  </div>
  </div>
</div>