<h1>Retirada de estoque</h1>

<div class="container-fluid">
<%= render "form_subtrai", produto: @produto_subtrai %>

<br>

<div>
  <%= link_to "Show this estoque", @produto %> |
  <%= link_to "Back to estoques", produto_path %>
</div>
</div>